body
{
    background-size: cover;
}
.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
#start , #number_of_objects , #status
{
    font-size: 18px;
}
.copy_right_footer
{
    position:  fixed;
    color: #1a0303;
    bottom: 0;
    width: 100%;
    background-color: #95c9f7;
    line-height: 2;
    text-align: center;
}
canvas
{
    border: 2px ridge white;
    border-radius: 10px;
    margin-top: 130px;
    box-shadow: 5px 5px 5px rgb(228, 63, 63);
}